In [1]:
# Load required libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

from sklearn import tree      # Import tree classifier 
from sklearn.model_selection import train_test_split     # Import train_test_split function
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score      # Import scikit-learn metrics module for accuracy calculation

In [2]:
Location = "DC_Properties.csv"
df = pd.read_csv(Location)

df.head()

C:\Users\claud\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (18,19,20,21,22,23,24,33,34,35,37,43,45) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unnamed: 0,BATHRM,HF_BATHRM,HEAT,AC,NUM_UNITS,ROOMS,BEDRM,AYB,YR_RMDL,...,LONGITUDE,ASSESSMENT_NBHD,ASSESSMENT_SUBNBHD,CENSUS_TRACT,CENSUS_BLOCK,WARD,SQUARE,X,Y,QUADRANT
0,0,4,0,Warm Cool,Y,2.0,8,4,1910.0,1988.0,...,-77.040832,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
1,1,3,1,Warm Cool,Y,2.0,11,5,1898.0,2007.0,...,-77.040764,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
2,2,3,1,Hot Water Rad,Y,2.0,9,5,1910.0,2009.0,...,-77.040678,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
3,3,3,1,Hot Water Rad,Y,2.0,8,5,1900.0,2003.0,...,-77.040629,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
4,4,2,1,Warm Cool,Y,1.0,11,3,1913.0,2012.0,...,-77.039361,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW

In [3]:
df.shape

(158957, 49)

In [4]:
df.columns

Index(['Unnamed: 0', 'BATHRM', 'HF_BATHRM', 'HEAT', 'AC', 'NUM_UNITS', 'ROOMS',
       'BEDRM', 'AYB', 'YR_RMDL', 'EYB', 'STORIES', 'SALEDATE', 'PRICE',
       'QUALIFIED', 'SALE_NUM', 'GBA', 'BLDG_NUM', 'STYLE', 'STRUCT', 'GRADE',
       'CNDTN', 'EXTWALL', 'ROOF', 'INTWALL', 'KITCHENS', 'FIREPLACES',
       'USECODE', 'LANDAREA', 'GIS_LAST_MOD_DTTM', 'SOURCE', 'CMPLX_NUM',
       'LIVING_GBA', 'FULLADDRESS', 'CITY', 'STATE', 'ZIPCODE', 'NATIONALGRID',
       'LATITUDE', 'LONGITUDE', 'ASSESSMENT_NBHD', 'ASSESSMENT_SUBNBHD',
       'CENSUS_TRACT', 'CENSUS_BLOCK', 'WARD', 'SQUARE', 'X', 'Y', 'QUADRANT'],
      dtype='object')

In [5]:
# Get more information on the df dataframe including a list of all columns and their corresponding data types
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158957 entries, 0 to 158956
Data columns (total 49 columns):
Unnamed: 0            158957 non-null int64
BATHRM                158957 non-null int64
HF_BATHRM             158957 non-null int64
HEAT                  158957 non-null object
AC                    158957 non-null object
NUM_UNITS             106696 non-null float64
ROOMS                 158957 non-null int64
BEDRM                 158957 non-null int64
AYB                   158686 non-null float64
YR_RMDL               80928 non-null float64
EYB                   158957 non-null int64
STORIES               106652 non-null float64
SALEDATE              132187 non-null object
PRICE                 98216 non-null float64
QUALIFIED             158957 non-null object
SALE_NUM              158957 non-null int64
GBA                   106696 non-null float64
BLDG_NUM              158957 non-null int64
STYLE                 106696 non-null object
STRUCT                106696 non-null object
GRADE                 106696 non-null object
CNDTN                 106696 non-null object
EXTWALL               106696 non-null object
ROOF                  106696 non-null object
INTWALL               106696 non-null object
KITCHENS              106695 non-null float64
FIREPLACES            158957 non-null int64
USECODE               158957 non-null int64
LANDAREA              158957 non-null int64
GIS_LAST_MOD_DTTM     158957 non-null object
SOURCE                158957 non-null object
CMPLX_NUM             52261 non-null float64
LIVING_GBA            52261 non-null float64
FULLADDRESS           106040 non-null object
CITY                  106051 non-null object
STATE                 106051 non-null object
ZIPCODE               158956 non-null float64
NATIONALGRID          106051 non-null object
LATITUDE              158956 non-null float64
LONGITUDE             158956 non-null float64
ASSESSMENT_NBHD       158956 non-null object
ASSESSMENT_SUBNBHD    126406 non-null object
CENSUS_TRACT          158956 non-null float64
CENSUS_BLOCK          106051 non-null object
WARD                  158956 non-null object
SQUARE                158957 non-null object
X                     158720 non-null float64
Y                     158720 non-null float64
QUADRANT              158720 non-null object
dtypes: float64(15), int64(11), object(23)
memory usage: 59.4+ MB

In [6]:
# Find columns that have missing values
df.isnull().sum()

Unnamed: 0                 0
BATHRM                     0
HF_BATHRM                  0
HEAT                       0
AC                         0
NUM_UNITS              52261
ROOMS                      0
BEDRM                      0
AYB                      271
YR_RMDL                78029
EYB                        0
STORIES                52305
SALEDATE               26770
PRICE                  60741
QUALIFIED                  0
SALE_NUM                   0
GBA                    52261
BLDG_NUM                   0
STYLE                  52261
STRUCT                 52261
GRADE                  52261
CNDTN                  52261
EXTWALL                52261
ROOF                   52261
INTWALL                52261
KITCHENS               52262
FIREPLACES                 0
USECODE                    0
LANDAREA                   0
GIS_LAST_MOD_DTTM          0
SOURCE                     0
CMPLX_NUM             106696
LIVING_GBA            106696
FULLADDRESS            52917
CITY                   52906
STATE                  52906
ZIPCODE                    1
NATIONALGRID           52906
LATITUDE                   1
LONGITUDE                  1
ASSESSMENT_NBHD            1
ASSESSMENT_SUBNBHD     32551
CENSUS_TRACT               1
CENSUS_BLOCK           52906
WARD                       1
SQUARE                     0
X                        237
Y                        237
QUADRANT                 237
dtype: int64

In [7]:
# Fill missing values for price based on survival status, sex, and passenger class

df['PRICE'].mean()

931351.5949336156

In [8]:
# Fill missing values
df['PRICE'].fillna('915313.1446939936', inplace=True)

In [9]:
df.isnull().sum()

Unnamed: 0                 0
BATHRM                     0
HF_BATHRM                  0
HEAT                       0
AC                         0
NUM_UNITS              52261
ROOMS                      0
BEDRM                      0
AYB                      271
YR_RMDL                78029
EYB                        0
STORIES                52305
SALEDATE               26770
PRICE                      0
QUALIFIED                  0
SALE_NUM                   0
GBA                    52261
BLDG_NUM                   0
STYLE                  52261
STRUCT                 52261
GRADE                  52261
CNDTN                  52261
EXTWALL                52261
ROOF                   52261
INTWALL                52261
KITCHENS               52262
FIREPLACES                 0
USECODE                    0
LANDAREA                   0
GIS_LAST_MOD_DTTM          0
SOURCE                     0
CMPLX_NUM             106696
LIVING_GBA            106696
FULLADDRESS            52917
CITY                   52906
STATE                  52906
ZIPCODE                    1
NATIONALGRID           52906
LATITUDE                   1
LONGITUDE                  1
ASSESSMENT_NBHD            1
ASSESSMENT_SUBNBHD     32551
CENSUS_TRACT               1
CENSUS_BLOCK           52906
WARD                       1
SQUARE                     0
X                        237
Y                        237
QUADRANT                 237
dtype: int64

In [10]:
df['WARD'].value_counts()

Ward 6    23973
Ward 3    23688
Ward 4    22202
Ward 2    22167
Ward 5    21359
Ward 1    17455
Ward 7    17206
Ward 8    10906
Name: WARD, dtype: int64

In [11]:
# Fill missing values
df['WARD'].fillna('Ward 6', inplace=True)

In [12]:
df.isnull().sum()

Unnamed: 0                 0
BATHRM                     0
HF_BATHRM                  0
HEAT                       0
AC                         0
NUM_UNITS              52261
ROOMS                      0
BEDRM                      0
AYB                      271
YR_RMDL                78029
EYB                        0
STORIES                52305
SALEDATE               26770
PRICE                      0
QUALIFIED                  0
SALE_NUM                   0
GBA                    52261
BLDG_NUM                   0
STYLE                  52261
STRUCT                 52261
GRADE                  52261
CNDTN                  52261
EXTWALL                52261
ROOF                   52261
INTWALL                52261
KITCHENS               52262
FIREPLACES                 0
USECODE                    0
LANDAREA                   0
GIS_LAST_MOD_DTTM          0
SOURCE                     0
CMPLX_NUM             106696
LIVING_GBA            106696
FULLADDRESS            52917
CITY                   52906
STATE                  52906
ZIPCODE                    1
NATIONALGRID           52906
LATITUDE                   1
LONGITUDE                  1
ASSESSMENT_NBHD            1
ASSESSMENT_SUBNBHD     32551
CENSUS_TRACT               1
CENSUS_BLOCK           52906
WARD                       0
SQUARE                     0
X                        237
Y                        237
QUADRANT                 237
dtype: int64

In [13]:
# Drop the variables that we don't want to include in our DT model

modeldf = df.drop([u'Unnamed: 0', u'NUM_UNITS',
    u'AYB', u'YR_RMDL', u'EYB', u'STORIES', u'SALEDATE',u'QUALIFIED', u'SALE_NUM', u'GBA', u'BLDG_NUM', u'STYLE',
       u'STRUCT', u'GRADE', u'CNDTN', u'EXTWALL', u'ROOF', u'INTWALL',
       u'KITCHENS', u'FIREPLACES', u'USECODE', u'LANDAREA',
       u'GIS_LAST_MOD_DTTM', u'SOURCE', u'CMPLX_NUM', u'LIVING_GBA',
       u'FULLADDRESS', u'CITY', u'STATE', u'ZIPCODE', u'NATIONALGRID',
       u'LATITUDE', u'LONGITUDE', u'ASSESSMENT_NBHD', u'ASSESSMENT_SUBNBHD',
       u'CENSUS_TRACT', u'CENSUS_BLOCK', u'SQUARE', u'X', u'Y',
       u'QUADRANT', 'PRICE'], axis=1)

In [14]:
# Columns left in our dataframe
modeldf.columns

Index(['BATHRM', 'HF_BATHRM', 'HEAT', 'AC', 'ROOMS', 'BEDRM', 'WARD'], dtype='object')

In [15]:
modeldf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158957 entries, 0 to 158956
Data columns (total 7 columns):
BATHRM       158957 non-null int64
HF_BATHRM    158957 non-null int64
HEAT         158957 non-null object
AC           158957 non-null object
ROOMS        158957 non-null int64
BEDRM        158957 non-null int64
WARD         158957 non-null object
dtypes: int64(4), object(3)
memory usage: 8.5+ MB

In [16]:
# Create dummy variables 
# get_dummies will auto-drop columns that dummies were created from
modeldf = pd.get_dummies(data=modeldf, columns=['AC','HEAT', 'WARD'])
modeldf.head()

,BATHRM,HF_BATHRM,ROOMS,BEDRM,AC_0,AC_N,AC_Y,HEAT_Air Exchng,HEAT_Air-Oil,HEAT_Elec Base Brd,...,HEAT_Warm Cool,HEAT_Water Base Brd,WARD_Ward 1,WARD_Ward 2,WARD_Ward 3,WARD_Ward 4,WARD_Ward 5,WARD_Ward 6,WARD_Ward 7,WARD_Ward 8
0,4,0,8,4,0,0,1,0,0,0,...,1,0,0,1,0,0,0,0,0,0
1,3,1,11,5,0,0,1,0,0,0,...,1,0,0,1,0,0,0,0,0,0
2,3,1,9,5,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
3,3,1,8,5,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
4,2,1,11,3,0,0,1,0,0,0,...,1,0,0,1,0,0,0,0,0,0

In [29]:
modeldf.columns

Index(['BATHRM', 'HF_BATHRM', 'ROOMS', 'BEDRM', 'AC_0', 'AC_N', 'AC_Y',
       'HEAT_Air Exchng', 'HEAT_Air-Oil', 'HEAT_Elec Base Brd',
       'HEAT_Electric Rad', 'HEAT_Evp Cool', 'HEAT_Forced Air',
       'HEAT_Gravity Furnac', 'HEAT_Hot Water Rad', 'HEAT_Ht Pump',
       'HEAT_Ind Unit', 'HEAT_No Data', 'HEAT_Wall Furnace', 'HEAT_Warm Cool',
       'HEAT_Water Base Brd', 'WARD_Ward 1', 'WARD_Ward 2', 'WARD_Ward 3',
       'WARD_Ward 4', 'WARD_Ward 5', 'WARD_Ward 6', 'WARD_Ward 7',
       'WARD_Ward 8'],
      dtype='object')

Build a Decision Tree

Then build a logistic regression model and a decision tree model to try to predict the ward or quadrant (your choice) that a house in DC would be in based on certain features.

In order to build our model, we first need to divide our columns into two types of variables - our target variable and predictor variables (or features).

In [30]:
# Let's extract our target variable
# Make a copy of 'WARD' column

y = modeldf['WARD_Ward 8']

In [31]:
# Make a copy of modeldf without 'survived' column

X = modeldf.drop(['WARD_Ward 8'], axis=1)

Next, we need to split our data into training and test sets. This is a good strategy for understanding model performance.

The training set is the data that we use to fit the model. The model sees and learns from this data. The test set is used to provide an unbiased evaluation of the model. It is only used once a model is completely trained.

In [32]:
# 80% for training data, 20% for test data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=90)

In [33]:
# Assign decision tree function to model variable
model = tree.DecisionTreeClassifier()

In [34]:
# Develop model using training data
# Defining arguments in the model can help prevent overfitting
model.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [35]:
# Run the predictions on the training data
y_predict_train = model.predict(X_train)

In [36]:
# Checks the accuracy of the training model
accuracy_score(y_train, y_predict_train)

1.0

In [37]:
# Run the predictions on the test data
y_predict = model.predict(X_test)

In [41]:
#check the accuracy of model
accuracy_score(y_test, y_predict)

1.0

In [44]:
#look at true and false predictions

pd.DataFrame(
    confusion_matrix(y_test, y_predict),
    columns=['Predicted no for properties with selected features in Ward 8', 'Predicted for properties with selected features in Ward 8'],
    index=['True no for properties with selected features in Ward 8', 'True for properties with selected features in Ward 8']
)

,Predicted no for properties with selected features in Ward 8,Predicted for properties with selected features in Ward 8
True no for properties with selected features in Ward 8,29599,0
True for properties with selected features in Ward 8,0,2193